* {
    margin: 0
}

/*
@font-face {
    font-family: Klaxons;
    src: url("Klaxons.otf") format("opentype");
}
*/


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100vw;
    height: auto;
}


  